name: Deploy Deepgram Cloud Demo

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Force upload frontend files to S3
        run: |
          aws s3 sync ./frontend s3://deepgram-demo-frontend-551805034614 \
            --delete \
            --exact-timestamps \
            --metadata-directive REPLACE